{% extends 'base.html' %}
{% block content %}
    <div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-primary">

				<div class="panel-heading">{{recipes.0.title}}</div>
				<a href="{% url 'recipes_detail' pk=recipes.0.pk %}"><div class="panel-body"><img src="/static/media/{{recipes.0.foodimage}}" class="img-responsive" style="width:100%" alt="Image"></div></a>


			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-danger">

				<div class="panel-heading">{{ recipes.1.title }}</div>
				<a><div class="panel-body"><img src="/static/media/{{ recipes.1.foodimage }}" class="img-responsive" style="width:100%" alt="Image"></div></a>


			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">

				<div class="panel-heading">{{recipes.2.title }}</div>
				<a><div class="panel-body"><img src="/static/media/{{recipes.2.foodimage }}" class="img-responsive" style="width:100%" alt="Image"></div></a>


			</div>
		</div>
	</div>
</div><br>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-primary">

				<div class="panel-heading">{{ recipes.3.title }}</div>
				<a><div class="panel-body"><img src="/static/media/{{ recipes.3.foodimage }}" class="img-responsive" style="width:100%" alt="Image"></div></a>


			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-primary">

				<div class="panel-heading">{{ recipes.4.title }}</div>
				<a><div class="panel-body"><img src="/static/media/{{ recipes.4.foodimage }}" class="img-responsive" style="width:100%" alt="Image"></div></a>


			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading" style="">{{ recipes.5.title }}</div>
                <a href="#"><div class="panel-body"><img src="/static/media/{{ recipes.5.foodimage }}" class="img-responsive" style="width:100%" alt="Image"></div></a>



			</div>
		</div>
	</div>
</div><br><br>
{% endblock %}